services:
  yacht:
    build:
      context: ./back_end/models/yacht
      dockerfile: Dockerfile
    container_name: yacht
    command: uvicorn src.app:app --host 0.0.0.0 --port 8050
    ports:
      - "8050:8050"
    depends_on:
      - profile
      - ropes
      - sails
      - hull_structure
      - saildata

  profile:
    build:
      context: ./back_end/models/profile
      dockerfile: Dockerfile
    container_name: profile
    command: uvicorn src.app:app --host 0.0.0.0 --port 8003
    ports:
      - "8003:8003"

  user_profile:
    build:
      context: ./back_end/models/user_profile
      dockerfile: Dockerfile
    container_name: user_profile
    command: uvicorn src.app:app --host 0.0.0.0 --port 8005
    ports:
      - "8005:8000"
    
  ropes:
    build:
      context: ./back_end/models/ropes
      dockerfile: Dockerfile
    container_name: ropes
    command: uvicorn src.app:app --host 0.0.0.0 --port 8010
    ports:
      - "8010:8010"

  sails:
    build:
      context: ./back_end/models/sails
      dockerfile: Dockerfile
    container_name: sails
    command: uvicorn src.app:app --host 0.0.0.0 --port 8020
    ports:
      - "8020:8020"

  hull_structure:
    build:
      context: ./back_end/models/hull_structure
      dockerfile: Dockerfile
    container_name: hull_structure
    command: uvicorn src.app:app --host 0.0.0.0 --port 8004
    ports:
      - "8004:8004"

  saildata:
    build:
      context: ./back_end/models/saildata
      dockerfile: Dockerfile
    container_name: saildata
    command: uvicorn src.app:app --host 0.0.0.0 --port 8001
    ports:
      - "8001:8001"

  furler:
    build:
      context: ./back_end/models/furlers
      dockerfile: Dockerfile
    container_name: furler
    command: uvicorn main:app --host 0.0.0.0 --port 8002
    ports:
      - "8002:8002"

  front_end:
    build: ./front_end
    ports:
      - "3000:3000"
    env_file:
      - ./front_end/.env.local
    depends_on:
      - auth_service
    restart: unless-stopped

  auth_service:
    build:
      context: ./auth_service
      dockerfile: Dockerfile
    ports:
      - "3001:3000" # Map host 3001 to container 3000 so frontend can reach it at auth_service:3001
    env_file:
      - ./auth_service/.env.local
    restart: unless-stopped
